---
---

@import "{{ site.theme }}";

#forkme_banner {
    display: none;
}

img {
    max-width: 90%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
}

#canvas_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#header_wrap {
    background-image: url("../images/sven-pieren-D2n_n2qUoM0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

#header_wrap header {
    position: relative;
    z-index: 1;
}

#project_title, #project_tagline {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}